<!DOCTYPE html>
<head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="886352831577-nad8j9up60v9v36jg9p1h0vr7j0d5s43.apps.googleusercontent.com">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <a href="#" onclick="signOut();">Sign out</a>

    <script>
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/api/login');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            };
            xhr.send(JSON.stringify({token: id_token}));
        }
    </script>

    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
            });
        }
    </script>

</body>
</html>